/* Common Headers */
body {
    font-size: 67.5%;
    font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
    padding: 0%;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
/* Header */

/* Nav Bar */

/* J.K. Rowling Book Signing */

/* Trending Summer Reads Section */

/* Bookseller Recommendations */

/* Footer */